{% extends "base.html" %}
{% load static %}

{% block content %}
    <section class="content">
        <div class="main-content-container">
            <h1>Создавай проекты и получай обратную связь!</h1>
            <p>Добро пожаловать в CoLab — уникальную платформу для организации, публикации и оценки студенческих проектов</p>
            {% if user.is_authenticated %}
                <div class="button-container">
                    <div>
                        <a href="{% url "projects:create-project" %}" class="btn btn-login">Создать проект</a>
                    </div>
                </div>
            {% else %}
                <div class="button-container">
                    <div>
                        <a href="{% url "users:login" %}" class="btn btn-login">Войти</a>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="main-photo">
        </div>
    </section>
{% endblock %}