{% extends "base.html" %}
{% load static %}
{% block content %}
    <section class="edit-profile">
        <form action="{% url "users:change-profile" username=user.username %}" method="post">
            {% csrf_token %}
            <div class="edit-info">
                <div class="avatar-container">
                    {% if user_form.image %}
                        <img class="avatar" src="{{ user_form.image.url }}">
                    {% else %}
                        <img class="avatar" src="img/cat.jpg">
                    {% endif %}
                    <input type="file" class="form-control mt-3" id="id_image"
                        name='image'
                        accept="image/*">
                    {% if user_form.image.errors %}
                        <div class="alert alert-danger alert-dismissible fade show">{{user_form.image.errors}}</div>
                    {% endif %}
                </div>
                <a class="logout" href={% url "users:logout" %}>Выйти</a>

                <div class="profile-forms">
                    <p>Логин</p>
                        <input type="text" id="id_username"
                        name="username"
                        placeholder="Логин"
                        value="{{ user_form.username.value }}"
                        required>
                        {% if user_form.username.errors %}
                            <div class="alert alert-danger alert-dismissible fade show">{{user_form.username.errors}}</div>
                        {% endif %}
                </div>

                <div class="profile-forms">
                    <p>Имя</p>
                    <input type="text" id="id_first_name"
                        name="first_name"
                        placeholder="Имя"
                        value="{{ user_form.first_name.value }}"
                        required>
                        {% if user_form.first_name.errors %}
                            <div class="alert alert-danger alert-dismissible fade show">{{user_form.first_name.errors}}</div>
                        {% endif %}
                </div>

                <div class="profile-forms">
                    <p>Фамилия</p>
                    <input type="text" id="id_last_name"
                        name="last_name"
                        placeholder="Фамилия"
                        value="{{ user_form.last_name.value }}"
                        required>
                        {% if user_form.last_name.errors %}
                            <div class="alert alert-danger alert-dismissible fade show">{{user_form.last_name.errors}}</div>
                        {% endif %}
                </div>

                <div class="profile-forms">
                    <p>Отчество</p>
                        <input type="text" id="id_surname"
                        name="surname"
                        placeholder="Отчество"
                        value="{{ user_form.surname.value }}"
                        required>
                        {% if user_form.surname.errors %}
                            <div class="alert alert-danger alert-dismissible fade show">{{user_form.surname.errors}}</div>
                        {% endif %}
                </div>

                <div class="profile-forms">
                    <p>Эл.почта</p>
                        <input type="email" id="id_email"
                        name="email"
                        placeholder="Эл.почта"
                        value="{{ user_form.email.value }}"
                        required>
                        {% if user_form.email.errors %}
                            <div class="alert alert-danger alert-dismissible fade show">{{user_form.email.errors}}</div>
                        {% endif %}
                </div>

                <div class="profile-forms">
                    <p>Номер телефона</p>
                    <input type="tel" id="id_phone_number"
                    name="phone_number"
                    placeholder="Номер телефона"
                    value="{{ user_form.phone_number.value }}"
                    required>
                    {% if user_form.phone_number.errors %}
                        <div class="alert alert-danger alert-dismissible fade show">{{user_form.phone_number.errors}}</div>
                    {% endif %}
                </div>

                <div class="profile-forms">
                    <p>Институт</p>
                    <input type="text" id="id_institute"
                    name="institute"
                    placeholder="Институт"
                    value="{{ profile_form.institute.value }}"
                    required>
                    {% if profile_form.nstitute.errors %}
                        <div class="alert alert-danger alert-dismissible fade show">{{profile_form.nstitute.errors}}</div>
                    {% endif %}
                </div>

                <div class="profile-forms">
                    <p>Направление</p>
                    <input type="text" id="id_trend"
                    name="trend"
                    placeholder="Направление"
                    value="{{ profile_form.trend.value }}"
                    required>
                    {% if profile_form.trend.errors %}
                        <div class="alert alert-danger alert-dismissible fade show">{{profile_form.trend.errors}}</div>
                    {% endif %}
                </div>

                <div class="profile-forms">
                    <p>Курс</p>
                    <input type="text" id="id_course"
                    name="course"
                    placeholder="Курс"
                    value="{{ profile_form.course.value }}"
                    required>
                    {% if profile_form.course.errors %}
                        <div class="alert alert-danger alert-dismissible fade show">{{profile_form.course.errors}}</div>
                    {% endif %}
                </div>

                <div class="profile-forms">
                    <p>О себе</p>
                    <input type="text" id="id_bio"
                    name="bio"
                    placeholder="О себе"
                    value="{{ profile_form.bio.value }}"
                    required>
                    {% if profile_form.bio.errors %}
                        <div class="alert alert-danger alert-dismissible fade show">{{profile_form.bio.errors}}</div>
                    {% endif %}
                </div>
            </div>
            <div class="profile-button">
                <button type="submit" class="btn-login btn-primary btn-large btn-block">Сохранить</button>
            </div>
        </form>
        <div class="edit-projects">
            <h2 class="edit-project-h2">Проекты</h2>
            <ul class="project-items">
                <li class="project-item">
                    <h3>Добавить проект</h3>
                    <a class="plus">+</a>
                </li>
                <li class="project-item">
                    <h3>Проектный практикум</h3>
                    <p>Роль: Разработчик</p>
                    <p>Оценка: &#11088; 5.00</p>
                    <a class="detail">Подробнее</a>
                </li>
                <li class="project-item">
                    <h3>Проектный практикум</h3>
                    <p>Роль: Разработчик</p>
                    <p>Оценка: &#11088; 5.00</p>
                    <a class="detail">Подробнее</a>
                </li>
                <li class="project-item">
                    <h3>Проектный практикум</h3>
                    <p>Роль: Разработчик</p>
                    <p>Оценка: &#11088; 5.00</p>
                    <a class="detail">Подробнее</a>
                </li>
                <li class="project-item">
                    <h3>Проектный практикум</h3>
                    <p>Роль: Разработчик</p>
                    <p>Оценка: &#11088; 5.00</p>
                    <a class="detail">Подробнее</a>
                </li>
                <li class="project-item">
                    <h3>Проектный практикум</h3>
                    <p>Роль: Разработчик</p>
                    <p>Оценка: &#11088; 5.00</p>
                    <a class="detail">Подробнее</a>
                </li>
                <li class="project-item">
                    <h3>Проектный практикум</h3>
                    <p>Роль: Разработчик</p>
                    <p>Оценка: &#11088; 5.00</p>
                    <a class="detail">Подробнее</a>
                </li>
                <li class="project-item">
                    <h3>Проектный практикум</h3>
                    <p>Роль: Разработчик</p>
                    <p>Оценка: &#11088; 5.00</p>
                    <a class="detail">Подробнее</a>
                </li>
                <li class="project-item">
                    <h3>Проектный практикум</h3>
                    <p>Роль: Разработчик</p>
                    <p>Оценка: &#11088; 5.00</p>
                    <a class="detail">Подробнее</a>
                </li>
            </ul>
        </div>
    </section>
{% endblock content %}