{% extends "base.html" %}
{% load static %}
{% block content %}
    <section class="login">
      <div class="login-screen">
        <div class="app-title">
          <h1>Вход</h1>
        </div>
        <form action="{% url "users:login" %}" method="post">
          {% csrf_token %}
          <div class="login-form">
            <div class="control-group">
              <input type="username" class="login-field" name="username" placeholder="Логин" id="id_username" required>
            </div>

            <div class="control-group">
                <input type="password" class="login-field" name="password" placeholder="Пароль" id="id_password" required>
            </div>
          </div>
          <button type="submit" class="btn-login btn-primary btn-large btn-block">Войти</button>
          <a class="login-link" href="{% url "users:signup" %}">Нет аккаунта? Зарегистрируйтесь!</a>
        </form>
      </div>
    </section>
{% endblock content %}