<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap" rel="stylesheet">
    <title>BrainSpark</title>    
</head>
<body>
    <header>
        <nav class="header-nav">
            <a class="logo" href="#">colab</a>
            <ul class="header-nav-items">
                <li class="header-nav-item"><a href="#">Лента</a></li>
                <li class="header-nav-item"><a href="#">О нас</a></li>
                <li class="header-nav-item"><a href="#">Связаться с нами</a></li>
            </ul>
            
            <!-- <div class="header-button-container">
                <div>
                    <a href="#" class="btn btn-login btn-animate">Войти</a>
                </div>
                <div>
                    <a href="#" class="btn btn-sign btn-animate">Зарегистрироваться</a>
                </div>
            </div> -->
        </nav>
    </header>
    
    <main>
        <section class="profile" id="shadow">
            <div class="about">
                <div class="avatar-container">
                    <img class="avatar" src="img/cat.jpg">
                </div>
                <ul class="profile-info">
                    <li>ФИО: Пешкин Дмитрий Андреевич</li>
                    <li>Университет: УрФУ</li>
                    <li>Институт: ИРИТ-РТФ</li>
                    <li>Направление: Прикладная информатика</li>
                    <li>Курс: 1</li>
                    <li>О себе: Гей</li>
                </ul>
            </div>
            <div class="projects">
                <h2>Проекты</h2>
                <ul class="project-items">
                    <li class="project-item">
                        <h3>Проектный практикум</h3>
                        <p>Роль: Разработчик</p>
                        <p>Оценка: &#11088; 5.00</p>
                        <a class="detail">Подробнее</a>
                    </li>
                    <li class="project-item">
                        <h3>CoLab</h3>
                        <p>Роль: Разработчик</p>
                        <p>Оценка :&#11088; 5.00</p>
                        <a class="detail">Подробнее</a>
                    </li>
                    <li class="project-item">
                        <h3>Проектный практикум</h3>
                        <p>Роль: Разработчик</p>
                        <p>Оценка: &#11088; 5.00</p>
                        <a class="detail">Подробнее</a>
                    </li>
                    <li class="project-item">
                        <h3>Проектный практикум</h3>
                        <p>Роль: Разработчик</p>
                        <p>Оценка: &#11088; 5.00</p>
                        <a class="detail">Подробнее</a>
                    </li>
                    <li class="project-item">
                        <h3>Проектный практикум</h3>
                        <p>Роль: Разработчик</p>
                        <p>Оценка: &#11088; 5.00</p>
                        <a class="detail">Подробнее</a>
                    </li>
                    <li class="project-item">
                        <h3>Проектный практикум</h3>
                        <p>Роль: Разработчик</p>
                        <p>Оценка: &#11088; 5.00</p>
                        <a class="detail">Подробнее</a>
                    </li>
                    <li class="project-item">
                        <h3>Проектный практикум</h3>
                        <p>Роль: Разработчик</p>
                        <p>Оценка: &#11088; 5.00</p>
                        <a class="detail">Подробнее</a>
                    </li>
                    <li class="project-item">
                        <h3>Проектный практикум</h3>
                        <p>Роль: Разработчик</p>
                        <p>Оценка: &#11088; 5.00</p>
                        <a class="detail">Подробнее</a>
                    </li>
                </ul>
            </div>
        </section>
    </main>
    <script href="js/script.js"></script>
</body>