{% extends "base.html" %}
{% load static %}
{% block content %}
    <section class="edit-profile">
        <form action="{% url "users:profile" username=user.username %}" method="post">
            {% csrf_token %}
            <div class="edit-info">
                <div class="avatar-container">
                    {% if users.image %}
                        <img class="avatar" src="{{ users.image.url }}">
                    {% else %}
                        <img class="avatar" src="img/cat.jpg">
                    {% endif %}
                    <input type="file" class="form-control mt-3" id="id_image"
                        name='image'
                        accept="image/*">
                        {% if form.image.errors %}
                            <div class="alert alert-danger alert-dismissible fade show">{{form.image.errors}}</div>
                        {% endif %}
                </div>
                <a class="logout" href={% url "users:logout" %}>Выйти</a>

                <div class="profile-forms">
                    <p>Логин</p>
                        <input type="text" id="id_username"
                        name="username"
                        placeholder="Логин"
                        value="{{ form.username.value }}"
                        required
                        {% if form.username.errors %}
                            <div class="alert alert-danger alert-dismissible fade show">{{form.username.errors}}</div>
                        {% endif %}>
                </div>

                <div class="profile-forms">
                    <p>Имя</p>
                    <input type="text" id="id_first_name"
                        name="first_name"
                        placeholder="Имя"
                        value="{{ form.first_name.value }}"
                        required
                        {% if form.first_name.errors %}
                            <div class="alert alert-danger alert-dismissible fade show">{{form.first_name.errors}}</div>
                        {% endif %}>
                </div>

                <div class="profile-forms">
                    <p>Фамилия</p>
                    <input type="text" id="id_last_name"
                        name="last_name"
                        placeholder="Фамилия"
                        value="{{ form.last_name.value }}"
                        required
                        {% if form.last_name.errors %}
                            <div class="alert alert-danger alert-dismissible fade show">{{form.last_name.errors}}</div>
                        {% endif %}>
                </div>

                <div class="profile-forms">
                    <p>Отчество</p>
                        <input type="text" id="id_surname"
                        name="surname"
                        placeholder="Отчество"
                        value="{{ form.surname.value }}"
                        required>
                </div>

                <div class="profile-forms">
                    <p>Эл.почта</p>
                        <input type="email" id="id_email"
                        name="email"
                        placeholder="Эл.почта"
                        value="{{ form.email.value }}"
                        required>
                </div>

                <div class="profile-forms">
                    <p>Номер телефона</p>
                    <input type="tel" id="id_phone_number"
                    name="phone_number"
                    placeholder="Номер телефона"
                    value="{{ form.phone_number.value }}"
                    required>
                </div>

                <div class="profile-button">
                    <button type="submit" class="btn-login btn-primary btn-large btn-block">Сохранить<button>
                </div>
            </div>
        </form>
        <div class="edit-projects">
            <h2 class="edit-project-h2">Проекты</h2>
            <ul class="project-items">
                <li class="project-item">
                    <h3>Добавить проект</h3>
                    <a class="plus">+</a>
                </li>
                <li class="project-item">
                    <h3>Проектный практикум</h3>
                    <p>Роль: Разработчик</p>
                    <p>Оценка: &#11088; 5.00</p>
                    <a class="detail">Подробнее</a>
                </li>
                <li class="project-item">
                    <h3>Проектный практикум</h3>
                    <p>Роль: Разработчик</p>
                    <p>Оценка: &#11088; 5.00</p>
                    <a class="detail">Подробнее</a>
                </li>
                <li class="project-item">
                    <h3>Проектный практикум</h3>
                    <p>Роль: Разработчик</p>
                    <p>Оценка: &#11088; 5.00</p>
                    <a class="detail">Подробнее</a>
                </li>
                <li class="project-item">
                    <h3>Проектный практикум</h3>
                    <p>Роль: Разработчик</p>
                    <p>Оценка: &#11088; 5.00</p>
                    <a class="detail">Подробнее</a>
                </li>
                <li class="project-item">
                    <h3>Проектный практикум</h3>
                    <p>Роль: Разработчик</p>
                    <p>Оценка: &#11088; 5.00</p>
                    <a class="detail">Подробнее</a>
                </li>
                <li class="project-item">
                    <h3>Проектный практикум</h3>
                    <p>Роль: Разработчик</p>
                    <p>Оценка: &#11088; 5.00</p>
                    <a class="detail">Подробнее</a>
                </li>
                <li class="project-item">
                    <h3>Проектный практикум</h3>
                    <p>Роль: Разработчик</p>
                    <p>Оценка: &#11088; 5.00</p>
                    <a class="detail">Подробнее</a>
                </li>
                <li class="project-item">
                    <h3>Проектный практикум</h3>
                    <p>Роль: Разработчик</p>
                    <p>Оценка: &#11088; 5.00</p>
                    <a class="detail">Подробнее</a>
                </li>
            </ul>
        </div>
    </section>
{% endblock content %}