{% extends "base.html" %}
{% load static %}
{% block content %}
    <section class="login">
      <div class="login-screen">
        <div class="app-title">
          <h1>Регистрация</h1>
        </div>
        <form action="{% url "users:signup" %}" method="post">
            {% csrf_token %}
                <div class="login-form">
                    <div class="control-group">
                        <input type="text" class="login-field" placeholder="Логин" id="id_username" value="{% if form.username.value %}{{ form.username.value }}{% endif %}"
                        name="username" required>
                        {% if form.username.errors %}
                        <div class="alert alert-danger alert-dismissible fade show">{{form.username.errors}}</div>
                        {% endif %}
                    </div>

                    <div class="control-group">
                        <input type="text" class="login-field" placeholder="Имя" id="id_first_name" value="{% if form.first_name.value %}{{ form.first_name.value }}{% endif %}"
                        name="first_name" required>
                        {% if form.first_name.errors %}
                        <div class="alert alert-danger alert-dismissible fade show">{{form.first_name.errors}}</div>
                        {% endif %}
                    </div>
    
                    <div class="control-group">
                        <input type="text" class="login-field" placeholder="Фамилия" id="id_last_name" value="{% if form.last_name.value %}{{ form.last_name.value }}{% endif %}"
                        name="last_name" required>
                        {% if form.last_name.errors %}
                        <div class="alert alert-danger alert-dismissible fade show">{{form.last_name.errors}}</div>
                        {% endif %}
                    </div>
    
                    <div class="control-group">
                        <input type="text" class="login-field" placeholder="Отчество" id="id_surname" value="{% if form.surname.value %}{{ form.surname.value }}{% endif %}"
                        name="surname" required>
                        {% if form.surname.errors %}
                        <div class="alert alert-danger alert-dismissible fade show">{{form.surname.errors}}</div>
                        {% endif %}
                    </div>
                    
                    <div class="control-group">
                        <input type="email" class="login-field" placeholder="Эл.почта" id="id_email" value="{% if form.email.value %}{{ form.email.value }}{% endif %}"
                        name="email" required>
                        {% if form.email.errors %}
                        <div class="alert alert-danger alert-dismissible fade show">{{form.email.errors}}</div>
                        {% endif %}
                    </div>
    
                    <div class="control-group">
                        <input type="tel" class="login-field" placeholder="Номер телефона(+7, 8)" id="id_phone_number" value="{% if form.phone_number.value %}{{ form.phone_number.value }}{% endif %}"
                        name="phone_number" required>
                        {% if form.phone_number.errors %}
                        <div class="alert alert-danger alert-dismissible fade show">{{form.phone_number.errors}}</div>
                        {% endif %}
                    </div>
    
                    <div class="control-group">
                        <input type="password" class="login-field" placeholder="Пароль" id="id_password1" value="{% if form.password1.value %}{{ form.password1.value }}{% endif %}"
                        name="password1" required>
                        {% if form.password1.errors %}
                            <div class="alert alert-danger alert-dismissible fade show">{{form.password1.errors}}</div>
                        {% endif %}
                    </div>
    
                    <div class="control-group">
                        <input type="password" class="login-field" placeholder="Повтор пароля" id="id_password2" value="{% if form.password2.value %}{{ form.password2.value }}{% endif %}"
                        name="password2" required>
                        {% if form.password2.errors %}
                        <div class="alert alert-danger alert-dismissible fade show">{{form.password2.errors}}</div>
                        {% endif %}
                    </div>
    
                    <button type="submit" class="btn-login btn-primary btn-large btn-block" href="#">Зарегистрироваться</button>
                </div>
            </form>
      </div>
    </section>
{% endblock content %}