{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <link href="{% static "css/style.css" %}" rel="stylesheet">

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.3/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://code.jquery.com/ui/1.13.3/jquery-ui.js"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap" rel="stylesheet">

    <title>{{ title }}</title>    
</head>
<body>
    <header>
        <nav class="header-nav">
            <a class="logo" href={% url "main:index" %}>colab</a>
            <ul class="header-nav-items">
                <li class="header-nav-item"><a href="#">Лента</a></li>
                <li class="header-nav-item"><a href="#">О нас</a></li>
                <li class="header-nav-item"><a href="#">Связаться с нами</a></li>
                {% if user.is_authenticated %}
                    <li class="header-nav-item">
                        <a href={% url "users:profile" username=user.username %}>Профиль</a>
                    </li>
                {% else %}
                    <li class="header-nav-item">
                        <a href={% url "users:login" %}>Войти</a>
                    </li>
                {% endif %}
            </ul>
            <div class="search">
                <input id="tags" placeholder="Поиск">
            </div>
        </nav>
    </header>
    
    {% block content %} 
    {% endblock %}

    <script href="{% static "js/script.js" %}"></script>
</body>